[submodule "STEALTH"]
	path = STEALTH
	url = https://github.com/karan2808/STEALTH.git
[submodule "Million_Song_Analysis"]
	path = Million_Song_Analysis
	url = https://github.com/rohanrb302/Million_Song_Analysis.git
